fastapi
uvicorn
sqlalchemy
mysql-connector-python
passlib==1.7.4
bcrypt==4.0.1
pyjwt
python-decouple
python-multipart
email-validator
pydantic-settings
pydantic
pydantic_core
annotated-types
anyio
starlette
typing_extensions
gunicorn